<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
<connectionStrings>
  <!--<add name="InvoicingConnstring" connectionString="Data Source=RUCHIR-PC;Initial Catalog=RkaySteels_Test;Integrated Security=True"/>-->
  <add name="InvoicingConnstring" connectionString="Data Source=DESKTOP-UIRC00Q\SQLEXPRESS;Initial Catalog=RkaySteels_Test;user id=sa;password=test;" />
</connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="true" />
    </system.webServer>
</configuration>
